<ion-header>
	<ion-toolbar color="primary">
		<ion-title color="light">Crear</ion-title>
		<ion-button size="small" color="medium" slot="end">Guardar</ion-button>
		<ion-button size="small" style="color:lightcyan" slot="end">Publicar</ion-button>
	</ion-toolbar>
</ion-header>


<ion-content>
	<img src="https://via.placeholder.com/400" alt="">

	<div class="moka ion-align-items-center ion-padding">
		<p>Aún no has agregado una imagen para esta receta.</p>
		<ion-button color="light">
			<ion-icon slot="" name="camera-outline"></ion-icon>
			Agregar Ahora
		</ion-button>
	</div>

	<div class="form ion-padding">
		<ion-item>
			<ion-label position="floating">Título de la Receta</ion-label>
			<ion-input></ion-input>
		</ion-item>

		<ion-item>
			<ion-label position="floating">Resumen de la receta</ion-label>
			<ion-textarea></ion-textarea>
		</ion-item>
	</div>
	
	<div class="form-ingredientes-ion-padding">
		<h3>Ingredientes</h3>
		<ion-item class="item">
			<ion-label position="floating">1. Ingrediente y medida</ion-label>
			<ion-input></ion-input>
			<ion-button color="danger" class="btn-delete" size="small" color="light">
				<ion-icon name="trash"></ion-icon>
			</ion-button>
		</ion-item>
		<ion-item class="item">
			<ion-label position="floating">2. Ingrediente y medida</ion-label>
			<ion-input></ion-input>
			<ion-button color="danger" class="btn-delete" size="small" color="light">
				<ion-icon name="trash"></ion-icon>
			</ion-button>
		</ion-item>
		<ion-item class="item">
			<ion-label position="floating">3. Ingrediente y medida</ion-label>
			<ion-input></ion-input>
			<ion-button color="danger" class="btn-delete" size="small" color="light">
				<ion-icon  name="trash"></ion-icon>
			</ion-button>
		</ion-item>
		  <div class="botone">
			<ion-button Agregar Imagen>
		    <ion-icon style="color:lightcyan" zise="default" name="add-outline"></ion-icon>
			Agregar Imagen
			  </ion-button>
	   </div>
	</div>
<br>
	<div class="form-pasos-ion-padding">
		<h3>Ingredientes</h3>
		<ion-item class="item">
			<ion-label position="floating">1. Ingrediente y medida</ion-label>
			<ion-input></ion-input>
			<ion-button color="danger" class="btn-delete" size="small" color="light">
				<ion-icon name="trash"></ion-icon>
			</ion-button>
		</ion-item>
		<ion-button class="ion-margin-top" color="medium" size="default">
			<ion-icon name="camera-outline"></ion-icon>
			   Agregar Imagen
		   </ion-button>

		<ion-item class="item">
			<ion-label position="floating">2. Ingrediente y medida</ion-label>
			<ion-input></ion-input>
			<ion-button color="danger" class="btn-delete" size="small" color="light">
				<ion-icon name="trash"></ion-icon>
			</ion-button>
		</ion-item>
		<ion-button class="ion-margin-top" color="medium" size="default">
		 <ion-icon name="camera-outline"></ion-icon>
			Agregar Imagen
        </ion-button>

		<ion-item class="item">
			<ion-label position="floating">3. Ingrediente y medida</ion-label>
			<ion-input></ion-input>
			<ion-button color="danger" class="btn-delete" size="small" color="light">
				<ion-icon  name="trash"></ion-icon>
			</ion-button>
		</ion-item>
		<ion-button class="ion-margin-top" color="medium" size="default">
			<ion-icon name="camera-outline"></ion-icon>
			   Agregar Imagen
		   </ion-button>

		  <div class="botone">
			<ion-button>
				<ion-icon zise="default" name="add-outline"></ion-icon>
			    Agregar pasos
			</ion-button>
	   </div>
	</div>

</ion-content>

