<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-item>
        
     <ion-button color="medium" slot="end">Guardar</ion-button>
      <ion-button slot="end">Publicar</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>


<section>
<img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_960_720.png" alt="">
</section>

<ion-content>
  <ion-list div class="list">
    <ion-item>
      <ion-label color="primary" position="floating">Correo electronico</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
      </ion-list>
</ion-content>
