<ion-header>
</ion-header>

<!-- <img src="https://st.depositphotos.com/1732591/1280/v/600/depositphotos_12800617-stock-illustration-chef-hat.jpg" alt=""> -->
<img src="/assets/imagenes/cheff.jpg" alt="">

<ion-content>
  <h1>Una Pregunta</h1>
  <p>Para brindarte mejores recomendaciones 
    Indícanos tu nivel en la cocina</p>

    <ion-list div class="list">
      <ion-item>
        <ion-label color="primary">Nivel de conocimiento</ion-label>
        <ion-select placeholder="selecciona">
          <ion-select-option value="p">Principiante</ion-select-option>
          <ion-select-option value="m">Intermedio</ion-select-option>
          <ion-select-option value="E"> Experto</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div class="boton">
      <ion-button expand="block">Guardar</ion-button>
    </div>
    
</ion-content>

