.elemento{
    margin-top: 40px;
}

h2{
    margin: 30px;
    text-align: center;
    
}


.text{
    text-align: center;
    font-size: 24px;
}


.img{
width:150px ;
height: 200px;
}

.contenido{
    padding: 30px;
}

.texto{
    margin-top: 12px;
}

.footer{
    margin: 12px;
    text-align: right;
    padding-top:30px ;
    color: green;
    font-size: 16px;
    font-family: sans-serif, bold;
}

.foot{
    margin: 12px;
    text-align: right;
    padding-top:30px ;
    color: #999999;
    font-size: 16px;
    font-family: sans-serif, bold;
}
    
