.icon{
    margin: auto;
    padding-top: 110px;
    width: 80px;
    height: 80px;
    color:#F9B538;
}

h1{
    text-align: center;
    font-size: 30px;
}

.list{
margin: 14px;
padding-top:110px ;
}

.boton{
  padding-top: 20px;
 margin: 60px;
}   

P{
font-size: 14px;
text-align: center;
margin: 40PX;
color: #4278be;
}