<ion-header>
</ion-header>



<ion-content>
  
<ion-icon name="lock-open" div class="icon"></ion-icon>
    <div>
<h1>Nueva contraseña</h1>
<p>Porfavor crea una nueva contraseña</p>
   </div>

   <ion-list div class="list">
    <ion-item>
      <ion-label color-text="dark" position="floating">Nueva contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color-text="dark" position="floating">Repetir contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>

    <div class="boton">
        <ion-button style="color:lightcyan" expand="block">Restablecer contraseña</ion-button>
      </div>
    
      <div class="pie">
        <p>Soy nuevo quiero crear una cuenta</p>
         </div>

    </ion-content>
   