.icon{
margin: auto;
padding-top: 110px;
width: 80px;
height: 80px;
color:#F9B538;
}

h1{
    text-align: center;
    font-size: 40px;
}

p{
    text-align: center;
     margin: 10PX;
}

.list{
    margin: 14px;
    padding-top: 60px;
}

.boton{
padding-top: 20px;
margin: 60px;
}

.pie{
    margin: 40px;
    font-size: 14px;
    color:#0000FF;
}