<ion-header>
</ion-header>


<ion-icon name="lock-open" div class="icon"></ion-icon>

<ion-content>
    <div>
<h1>Nueva contraseña</h1>
<p>Porfavor crea una nueva contraseña</p>
   </div>

   <ion-list div class="list">
    <ion-item>
      <ion-label color="primary" position="floating">Nueva contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" position="floating">Repetir contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>

    <div class="boton">
        <ion-button expand="block">Restablecer contraseña</ion-button>
      </div>
    
    </ion-content>
   
      <div class="pie">
    <p>Soy nuevo quiero crear una cuenta</p>
     </div>