<ion-header>
</ion-header>

<img src="/assets/imagenes/sesion.jpg" alt="Inicio Sesión">


<ion-content>
  <ion-list class="contenido">
    <ion-item>
      <ion-label position="floating">Nombre de usario</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>

  <div class="bot">
    <ion-button style="color:lightcyan" expand="block">Iniciar Sesión</ion-button>
  </div>

  <ion-footer class="pie ion-padding">
    <p>Olvide mi contraseña</p>
    <p>Soy nuevo, quiero crear una cuenta</p>
  </ion-footer>
</ion-content>