<ion-header>
</ion-header>

<img src="https://img.freepik.com/foto-gratis/ingredientes-comida-italiana_23-2148551669.jpg?size=626&ext=jpg&ga=GA1.2.1377952299.1616284800" alt="">


<ion-content>
  <ion-list div class="contenido">
    <ion-item>
      <ion-label color="primary" position="floating">Nombre</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
 </ion-list>

 <div div class="bot">
  <ion-button id="boto" expand="block">Iniciar Sesión</ion-button>
</div>
</ion-content>

<div class="text">
  <p>Olvide mi contraseña</p>
</div>

<ion-footer div class="pie">
  <p>Soy nuevo quiero crear una cuenta</p>
</ion-footer>