#boto{
    border-radius: 10px;
 }
 
 
 .contenido{
     margin: 12px;
     padding-top: 40px;
 }
 
 .text{
     margin-left: 20px;
     color: #0000FF;
     border-top:2px solid blanchedalmond;
 }
 
 
 .bot{
     padding-top: 70px;
     margin: 40px;
  
 }
 
 
 .pie{
     text-align: center;
     color:  #0000FF;
     font-size: 14px;
 }
 