<ion-header [translucent]="true">
</ion-header>

<div class="imagen">
  <img src="/assets/imagenes/registro.jpg" alt="Registro">
  <div class="text">
    <h1>Bienvenido</h1>
    <p>Completa tus datos para registrarte</p>
  </div>
</div>

<ion-content>
  <ion-list class="contenido">
    <ion-item>
      <ion-label position="floating">Nombre completo</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Repetir Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

  </ion-list>

  <div class="boton">
    <ion-button expand="block">Crear Cuenta</ion-button>
  </div>

  <ion-footer class="final ion-padding">
    <p>Ya tengo cuenta quiero iniciar sesión</p>
  </ion-footer>
</ion-content>