<ion-header [translucent]="true">
</ion-header>

<div class="imagen">
  <img src="https://img.freepik.com/foto-gratis/ingredientes-comida-italiana_23-2148551669.jpg?size=626&ext=jpg&ga=GA1.2.1377952299.1616284800" alt="">
  <div class="text">
    <h1>Bienvenido</h1>
    <p>Completa tus datos para registrarte</p>
  </div>
</div>

<ion-content>
<ion-list div class="contenido">
    <ion-item>
      <ion-label color="primary" position="floating">Nombre completo</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label color="primary" position="floating">Correo Electronico</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Repetir Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

  </ion-list>

<div class="boton">
  <ion-button expand="block">Crear Cuenta</ion-button>
</div>
</ion-content>

<ion-footer div class="final">
  <p>Ya tengo cuenta quiero iniciar sesión</p>
</ion-footer>